body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}

h1 {
  font-weight: bolder;
  text-align: center;
  font-size: 30px;
}

#pres {
  height: 80vh;
  font-weight: lighter;
  text-align: center;
  background: url(../img/applePC.jpg);
  background-size: cover;
}

#pers img {
  color: red;
}

#profPres {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  color: white;
  text-align: left;
  height: 70vh;
}

@media screen and (max-width: 1024px) {
  #profPres {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

#svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  fill: lightgray;
  width: 100%;
  height: 50px;
}

#svg #aPropos {
  color: lightgray;
  margin-right: 10vh;
}

#cadre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border: solid 2px white;
  padding: 20px;
  width: 350px;
  height: 310px;
}

@media screen and (max-width: 1024px) {
  #cadre {
    width: 100px;
    height: 90px;
    margin-bottom: 30px;
  }
}

#cadre p {
  font-size: 60px;
  font-weight: 800;
  margin: 0;
}

@media screen and (max-width: 1024px) {
  #cadre p {
    font-size: 18px;
    height: auto;
    margin-bottom: auto;
  }
}

#info {
  text-align: center;
  left: 55%;
  top: 60%;
}

#info #name {
  font-size: 60px;
}

@media screen and (max-width: 1024px) {
  #info #name {
    margin: 0;
  }
}

article {
  padding: 15vh 0;
  text-align: justify;
}

article h2 {
  margin: 7vh 7vw;
  color: #B38A4C;
  font-size: 60px;
  text-align: left;
}

@media screen and (max-width: 780px) {
  article h2 {
    font-size: 40px;
  }
}

article p {
  margin: 0 auto;
  padding: 2vh 0;
  font-size: 20px;
  color: #707070;
  width: 75%;
}

@media screen and (max-width: 780px) {
  article p {
    font-size: 14px;
  }
}

article .firstP {
  padding-top: 7vh;
}

article .lastP {
  padding-bottom: 7vh;
}

.impair {
  background-color: #FAF5F5;
}

.impair h2 {
  text-align: right;
}

#exp {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: #FAF5F5;
  height: 70px;
}

#exp a {
  color: #B38A4C;
  font-weight: 600;
}

#exp a.ongletChoix1::after {
  position: absolute;
  content: ' ';
  width: 100px;
  height: 3px;
  background-color: #B38A4C;
  bottom: 0;
  left: calc(25% - 50px);
}

#exp a.ongletChoix2::after {
  position: absolute;
  content: ' ';
  width: 100px;
  height: 3px;
  background-color: #B38A4C;
  bottom: 0;
  left: calc(75% - 50px);
}
/*# sourceMappingURL=blog.css.map */